body{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 6em auto;
    align-items: center;
    grid-area: header;
    background-color: #014e2e;
    color: white;
    padding: 1em;
}

header img{
    width: 100%;
    height: auto;
}
nav{
    grid-area: nav;
    background-color: #014e2e;
}

nav ul{
    display : flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}


main{
    grid-area: main;
    background-image: url("banner4.jpeg");
    background-size: cover;
    color: white;
}
aside{
    grid-area: aside;
    background-color: #99ec96;
    color: white;
    padding: 1em;
}
footer{
    grid-area: footer;
    background-color: #12331f;
    color: white;
    padding: 1em;
}