body{
    display : grid;
    grid-template-columns: 45% 27.5% 27.5%;
    grid-template-rows: auto;
    grid-template-areas:    
            "header nav nav"
            "main main aside"
            "footer footer footer";
    background-color: #2d528a;
    font-family: "Oregano", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}

main{
    background-color: #A3B9C9;
    padding-left: 2em;;
    margin: 10px;
    border-radius: 10px;
    /* border-left: 6em; */
    box-shadow: 5px 5px 5px #000;
    grid-area: main;
    align-self: center;
}
/* nav ul li a{
    color: #ABDAE1;
    text-decoration: none;
    padding-top: 10px;
    /* border-top: 4em;
    padding-bottom: 20px;
    list-style-type: none;
    display: inline-block;
    list-style: none;
    grid-area: nav;
}

nav ul li{
    grid-area: nav;
    color: #ABDAE1;
    text-decoration: none;
    padding-top: 19px;
    /* border-top: 4em;
    padding-bottom: 20px;
    list-style-type: none;
    display: inline-block;
    list-style: none;
} */
nav ul{
    display: flex;
    justify-content: space-around;
    border: 4em;
    list-style-type: none;

}

nav ul ul li:hover{
    background-color: #118ae0;
}
nav ul ul {
    position: absolute;
    display: block;
    background-color: #A3B9C9;
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
}

nav > ul > li{
    position: relative;
    width: 100%;
}

nav > ul> li:hover ul{
    opacity: 1;
    pointer-events: auto;
}