@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: rgb(171, 218, 225);
    text-shadow: 1px 1px 31px rgba(171,218,225,0.68);
    font-size: 2.5em;
    
    /*background-color: #A3B9C9;*/
    display:  inline-block;
    padding: 10px;
    height: auto;
    width: auto;
    grid-area: header;
}

p{
    font-size: 1.5em;
    padding: 10px;
}


main{
    background-color: #A3B9C9;
    padding-left: 2em;;
    margin: 10px;
    border-radius: 10px;
    /* border-left: 6em; */
    box-shadow: 5px 5px 5px #000;
    grid-area: main;
}
nav ul li a{
    color: #ABDAE1;
    text-decoration: none;
    padding: 19px;
    border-top: 4em;
    /* padding-bottom: 20px; */
    list-style-type: none;
    display: inline-block;
    list-style: none;
    grid-area: nav;
}

aside{
    grid-area: aside;
    padding-left: 3em;
}
footer{
    color: azure;
    grid-area: footer;
    padding: 3em;
}